<div class="dashboard-wrapper">
    
    <div class="main-container">

<div class="row-fluid">
    <div class="span12"> <!--begin span12 -->
      <%= render :partial => "layouts/dashboard/dashboard_stats"%>
    </div> <!-- end span12 -->
</div>
</div>

<script type="text/javascript">

function makeActive(){
	$('li[id="home"]').addClass('active');
};

$(document).ready(
	makeActive,
	 pieChartHome()
);

</script>

