<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span4 offset4">
        <h2 align="center">MetaCorp</h2>
        <h3 align="center">A GoatGroup Company</h3>

        <div class="signup">
          <%= form_tag "forgot_password", :class=> "signup-wrapper" do %>

          <div class="header">
            <h2>Forgot Password</h2>
            <p>Fill out the form below to reset your password.</p>
          </div>

          <div class="content">
            <%= text_field_tag :email, params[:email], {:class => "input input-block-level", :placeholder => "Email"} %>
          </div>

          <div class="actions">
            <%= submit_tag "Reset Password", {:class => "btn btn-info btn-large"} %>
          </div>

          <div class="clearfix"></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
