<header>
     <a href="#l" class="logo">
      
     </a>
     <div class="user-profile">
       <a data-toggle="dropdown" class="dropdown-toggle">
         <img src="../assets/profile_color.jpg" alt="profile">
       </a>
       <span class="caret"></span>
       <ul class="dropdown-menu pull-right">
         <li>
           <a href="#">
             Edit Profile
           </a>
         </li>
         <li>
           <a href="#">
             Account Settings
           </a>
         </li>
         <li>
           <a href="#">
             Logout
           </a>
         </li>
       </ul>
     </div>
     <ul class="mini-nav">
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
           <span class="info-label">
             3
           </span>
         </a>
       </li>
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
           <span class="info-label-green">
             5
           </span>
         </a>
       </li>
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
           <span class="info-label-orange">
             9
           </span>
         </a>
       </li>
     </ul>
</header>