<header>
     <a href="#l" class="logo">
      
     </a>

     <div class="user-profile">
       <a data-toggle="dropdown" class="dropdown-toggle">
         <img src=" <%= image_path('profile_color.jpg')%>"  alt="profile">
	
       </a>
       <span class="caret"></span>
       <ul class="dropdown-menu pull-right">
         <li>
           <a href="#">
             account settings
           </a>
         </li>
         <li>
           <%= link_to "logout", logout_path %>
         </li>
       </ul>
     </div>
     <ul class="mini-nav">
	   <li style="color: #FFFFFF">
		<!-- 
		I'm going to use HTML safe because we had some weird stuff
		going on with funny chars and jquery, plus it says safe so I'm guessing
		nothing bad will happen
		-->
		Welcome, <%= current_user.first_name.html_safe %>
	   </li>
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
           <span class="info-label">
             3
           </span>
         </a>
       </li>
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe04c;"></div>
           <span class="info-label-green">
             5
           </span>
         </a>
       </li>
       <li>
         <a href="#">
           <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
           <span class="info-label-orange">
             9
           </span>
         </a>
       </li>
     </ul>
</header>