<div class="container-fluid">
    <div id="mainnav" class="hidden-phone hidden-tablet">
      <ul style="display: block;">
        <li class="active">
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></span>
            </div>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
            </div>
            Forms
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe096;"></span>
            </div>
            Charts
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></span>
            </div>
            UI Elements
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></span>
            </div>
            Icons
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
            </div>
            Tables
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span>
            </div>
            Gallery
          </a>
        </li>
        <li>
          <a href="#">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe100;"></span>
            </div>
            Typography
          </a>
        </li>
        <li class="submenu">
          <a href="#" class="selected">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></span>
            </div>
            Extras
          </a>
          <ul>
            <li>
              <a href="#">Edit Profile</a>
            </li>
            <li>
              <a href="#">Calendar</a>
            </li>
            <li>
              <a href="#">Invoice</a>
            </li>
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Error</a>
            </li>
            
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
