<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Need help logging in?</h1>
    <p>
      A password reset was requested for your user account.<br>
      <br>

      To reset your MetaCorp password, simply click on the
      following link and follow the instructions:<br>
      <br>

      <%= link_to "Click here to reset your password", @url %><br>
      <br>

      If you don't want to change your password, you can ignore this email.
    </p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>