<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Need help logging in?</h1>
    <p>
      To reset your RailsGoat password, simply click on the
      following link and follow the instructions: <%= @token %>.<br/>
    </p>
    <p>Thanks, and have a great day!</p>
  </body>
</html>