<div class="row-fluid">
	<h2 align="center">MetaCorp</h2>
	<h3 align="center">A GoatGroup Company</h3>
  <div class="span12">
        <div class="row-fluid">
          <div class="span4 offset4">
            <div class="signup">
				<%= form_tag "forgot_password", :class=> "signup-wrapper" do %>
                		<div class="header">
	 
                		  <h2>Login</h2>
                		  <p>Fill out the form below to reset your email.</p>
                		</div>

						<div class="content">
					    		<%= label_tag "Email Address" %>
					    		<%= text_field_tag :email, params[:email], {:class => "input input-block-level"} %>
						</div>

						<div class="actions">
							<%= submit_tag "Send Forgot Password Email", {:class => "btn btn-warning btn-small"} %>
							
						</div>
						<div class="clearfix"></div>
					<% end %>

            </div>
          </div>
    </div>
  </div>