<div class="dashboard-wrapper">
	<div class="main-container">
		<div class="row-fluid">
		    <div class="span12">  <!-- Beginning of span-->
		       <%= render :partial => "layouts/tutorial/crypto/password_hashing" %>
		    </div> <!-- End of span-->
		</div>
	</div>
</div>

<script type="text/javascript">
function makeActive(){
	$('li[id="crypto"]').addClass('active');
};

$(document).ready(makeActive);
</script>