<div class="dashboard-wrapper">
  <div class="main-container">
    <div class="row-fluid">
      <div class="span12"> <!-- Begin Span12-->
          <div class="widget">
            <div class="widget-header">
              <div class="title">
                <span class="fs1" aria-hidden="true" data-icon="&#xe092;"></span> Gauntlet
              </div>
            </div>
            <div class="widget-body">
            <p class="desc">
              Gauntlt is a tool used for unit testing leveraging third-party tools. We've baked this into Railsgoat so that you can play with it. <br/><br/> To learn more about this tool, please visit their site at: <%= link_to "Gauntlet Github Repository", "https://github.com/gauntlt/gauntlt", {:style =>"color: rgb(181, 121, 158);"} %></p>
            <p class="desc">
              All *.attack files are contained under the gauntlt_scripts directory. We have provided a simple.attack file that demonstrates the tool works. If errors occur, please submit a bug through our github powered issue tracking system.
            </p>
             <p class="desc">
              To run this tool type this via the command line: <br/><br/>$ gauntlt
             </p>
          </div>
        </div>
        </div> <!-- End Span12-->
    </div>
  </div>
</div>

<script type="text/javascript">

function openSub(){
  $('li[id="gauntlt"]').addClass('active');
  $('li[id="submenu"]').addClass('active open');
};

$(document).ready(openSub);

</script>