<div class="dashboard-wrapper">
  <div class="main-container">
    <div class="row-fluid">
        <div class="span6">
          <div class="widget">
            <div class="widget-header">
          <div class="title">
                  <span class="fs1" aria-hidden="true" data-icon="&#xe012;"></span> Using Guard with Brakeman and Bundle-Audit
                </div>
        </div>
        <div class="widget-body">
          <iframe src="http://player.vimeo.com/video/63901340" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function openSub(){
  $('li[id="guard"]').addClass('active');
  $('li[id="submenu"]').addClass('active open');
};

$(document).ready(openSub);

</script>