<div class="dashboard-wrapper">
	<div class="main-container">	
		<h1> Welcome to RailsGoat  </h1>
		<h3> Tutorial Guide </h3>
		<div class="row-fluid">
		    <div class="span12">
				<div class="widget">
			        <div class="widget-header">
			          <div class="title">
			            <span class="fs1" aria-hidden="true" data-icon="&#xe092;"></span> Step 1 - Choose your path
			          </div>
			        </div>
			        <div class="widget-body">
						<img src=<%= image_path("step-1.png")%> />
				    </div>
				</div>
				<div class="widget">
			        <div class="widget-header">
			          <div class="title">
			            <span class="fs1" aria-hidden="true" data-icon="&#xe092;"></span> Step 2 - Using the application
			          </div>
			        </div>
			        <div class="widget-body">
						<img src=<%= image_path("step-2.png")%> />
				    </div>
				</div>
			
			
		</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
function makeActive(){
	$('li[id="tutorials_home"]').addClass('active');
};

$(document).ready(makeActive);
</script>