<div class="dashboard-wrapper">
  <div class="main-container">
    <h1> Welcome to RailsGoat  </h1>
    <h3> Tutorial Guide </h3>

    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function makeActive(){
  $('li[id="tutorials_home"]').addClass('active');
};

$(document).ready(makeActive);
</script>