<div class="dashboard-wrapper">
  <div class="main-container">
    <h1> Welcome to RailsGoat  </h1>
    <h3> Tutorial Guide </h3>
    
    <!-- Begin Main Section -->
    <div id="main" class="row-fluid">
        <div class="span12">
          <h6>Railsgoat can be used by either software developers or security professionals as a means of training themselves on Ruby on Rails security. 
            We describe software developers as "builders" and security professionals as "breakers". 
            <br/><br/>Please choose the category that you fall under for more information.
          </h6><br/><br/>
          <!-- Begin Buttons -->
          <div class="row-fluid">
            <div class="metro-navigation">
              <!-- Begin Builder Button -->
              <div class="nav-block block-blue double">
                <a href="#">
                  <div class="fs1" aria-hidden="true" data-icon=></div>
                  <div class="brand">
                    Builder
                  </div>
                </a>
              </div>
              <!-- End Builder Button-->
              <!-- Begin Breaker Button -->
              <div class="nav-block block-red double offset1">
                <a id="breaker" href="#">
                  <div class="fs1" aria-hidden="true" data-icon=></div>
                  <div class="brand">
                    Breaker
                  </div>
                </a>
              </div>
              <!-- End Breaker Button-->
            </div>
          </div>
          <!-- End Buttons -->
        </div>
    </div>
    <!-- End Main Section-->
    <!-- Begin Tutorial Section -->
    <div class="row-fluid">
        <div class="span12">
          <div id="info">
            
          </div>  
        </div>  
    </div>    
    <!-- End Tutorial Section -->
  </div>
</div>

<script type="text/javascript">
function makeActive(){
  $('li[id="tutorials_home"]').addClass('active');
};

$('#breaker').click(function(event){
  event.preventDefault();
  $("#main").fadeOut(500, function() {
     $(this).empty().show();
  });
  
  $("#info").empty()
  $("#info").load(<%= sanitize  breaker_tutorials_path.inspect %>).hide().fadeIn(4000)

});

$(document).ready(makeActive);
</script>