<div class="dashboard-wrapper">
  <div class="main-container">
    <div class="row-fluid">
        <div class="span12"> <!-- Begin Span12 -->
          <%= render :partial => "layouts/tutorial/insecure_dor/insecure_dor_first" %>
        </div> <!-- End Span12 -->
    </div>
  </div>
</div>

<script type="text/javascript">
function makeActive(){
  $('li[id="insecure_dor"]').addClass('active');
};

$(document).ready(makeActive);
</script>