<div class="dashboard-wrapper">
  <div class="main-container">
    <div class="row-fluid">
        <div class="span12">
          <%= render :partial => ("layouts/tutorial/mass_assignment/admin_mass_assign")%>
        </div> <!-- End Span12-->
    </div>
  </div>
</div>

<script type="text/javascript">
function makeActive(){
  $('li[id="mass_assignment"]').addClass('active');
  $('li[id="submenu"]').addClass('active open');
};

$(document).ready(makeActive);
</script>