<div class="dashboard-wrapper">
	<div class="main-container">
		<div class="row-fluid">
		    <div class="span12">
		      <div class="widget">
		        <div class="widget-header">
		          <div class="title">
		            <span class="fs1" aria-hidden="true" data-icon="&#xe092;"></span> A9 - Insufficient Transport Layer Protection
		          </div>
		        </div>
		        <div class="widget-body">
		          <div id="accordion1" class="accordion no-margin">
		            <div class="accordion-group">
		              <div class="accordion-heading">
		                <a href="#collapseOne" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
		                  <i class="icon-info icon-white">
		                  </i>
		                  Description
		                </a>
		              </div>
		              <div class="accordion-body in collapse" id="collapseOne" style="height: auto;">
		                <div class="accordion-inner">
		                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
		                </div>
		              </div>
		            </div>
		            <div class="accordion-group">
		              <div class="accordion-heading">
		                <a href="#collapseTwo" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
		                  <i class="icon-bug icon-white">
		                  </i>
		                  Bug
		                </a>
		              </div>
		              <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
		                <div class="accordion-inner">
		                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
		                </div>
		              </div>
		            </div>
		            <div class="accordion-group">
		              <div class="accordion-heading">
		                <a href="#collapseThree" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
		                  <i class="icon-lightning icon-white">
		                  </i>
		                  Solution
		                </a>
		              </div>
		              <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
		                <div class="accordion-inner">
		                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>

<script type="text/javascript">
function makeActive(){
	$('li[id="ssl_tls"]').addClass('active');
};

$(document).ready(makeActive);
</script>